workflow-exemplo.json
{
  "nodes": [
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "[NOME_DA_INSTANCIA]",
        "remoteJid": "={{ $('Webhook').item.json.body.numero }}",
        "messageText": "=Olá ! 👋\n\nRecebemos seu cadastro. Para confirmar, responda essa mensagem com *SIM*.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [-64, -176],
      "id": "[ID_CENSURADO]",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "[CREDENTIAL_ID]",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "Confirmação de cadastro",
        "message": "[HTML_CENSURADO]",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [-64, 144],
      "id": "[ID_CENSURADO]",
      "name": "Send a message",
      "webhookId": "[WEBHOOK_ID_CENSURADO]",
      "credentials": {
        "gmailOAuth2": {
          "id": "[CREDENTIAL_ID]",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const numero = $input.first().json.body.numero;\nconst nome = $input.first().json.body.nome;\n\nconst limpo = numero\n    .replace(\"@s.whatsapp.net\", \"\")\n    .slice(2);\n\nconst comDDD = limpo.slice(0, 2) + \"9\" + limpo.slice(2);\n\nconst nomeFormatado = nome\n    .split(\" \")\n    .map(palavra => palavra.charAt(0).toUpperCase() + palavra.slice(1).toLowerCase())\n    .join(\" \");\n\nreturn [{ json: { numero: comDDD, nome: nomeFormatado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-704, -32],
      "id": "[ID_CENSURADO]",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "[WEBHOOK_PATH_CENSURADO]",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-992, -32],
      "id": "[ID_CENSURADO]",
      "name": "Webhook",
      "webhookId": "[WEBHOOK_ID_CENSURADO]"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-400, -32],
      "id": "[ID_CENSURADO]",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "[CREDENTIAL_ID]",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Enviar texto": { "main": [[]] },
    "Code in JavaScript": {
      "main": [[{ "node": "Append row in sheet", "type": "main", "index": 0 }]]
    },
    "Webhook": {
      "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]]
    },
    "Append row in sheet": {
      "main": [[
        { "node": "Enviar texto", "type": "main", "index": 0 },
        { "node": "Send a message", "type": "main", "index": 0 }
      ]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "[INSTANCE_ID_CENSURADO]"
  }
}
